<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="maven.maven_pjt.biz.users.UsersMapper">
    <select id="findAllUsers" resultType="hashmap">
        SELECT
            name,
            email,
            department,
            rank_name,
            start_date
        FROM
            USERS;
    </select>
</mapper>