<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="maven.maven_pjt.jwt.JwtMapper">
    <select id="findTokenByUserId" resultType="String">
        SELECT
            rt_key,
            rt_value
        FROM
            REFRESH_TOKEN
        WHERE
            rt_key = #{key};
    </select>
    <select id="saveRefreshToken" parameterType="maven.maven_pjt.jwt.RefreshToken">
        INSERT INTO
            REFRESH_TOKEN (rt_key, rt_value)
        VALUES
            (#{key}, #{value})
        ON DUPLICATE KEY UPDATE
            rt_value = #{value};
    </select>
</mapper>